@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}



@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

html,
body {
    min-height: 3694px;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
}

.visually-hidden {
    position: absolute;
    left: -10000;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --color--primary--black: #011C44
}

:root {
    --color--primary--blue: #2B7FFF
}

:root {
    --color--white: #FFFFFF
}

:root {
    --color--background: #011C44
}

:root {
    --color--data: #747272
}

:root{
    --color--modal: #011F4A
}

ul li {
    list-style: none;

}

a,
a:visited {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}


.section {
    padding: 48px 0;
}

::after,
::before {
    box-sizing: border-box;
}



.header {
    position: absolute;
    height: 106px;
    width: 100%;
    left: 1px;
    right: -1px;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.header-section{
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
}

.header-container {
    padding: 32px 99px;
    min-width: 1239px;
    position: relative;
    right: 80px;
    display: flex;
    justify-content: space-between;
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-link {
    display: flex;
    gap: 56px;
    flex-wrap: wrap;
    justify-content: space-between;
}


.header-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px;
}

.logo {
    width: 32px;
    height: 32px;
}

.clinic-text {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
}



.hero-section {
    padding: 122px 0;
    height: 658px;
    position: relative;
    background-image: url(./img/backgraund-wave.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title{
    height: 658px;
}

.button {
    width: 218px;
    height: 53px;
    border: 1px solid var(--color--primary--blue);
    border-radius: 32px;
    color: var(--color--white);
    background-color: var(--color--primary--blue);
    margin: 40px 0 14px 0;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.button:hover{
    color: var(--color--primary--black);
    font-weight: 600;
    background-color: var(--color--white);
}

.hero-text {
    margin: 16.5px 105px;
    max-width: 529px;
}


/*section-reincarnate*/
.section-reincarnate {
    padding: 126px 0;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.reincarnate-title {
    width: 709px;
    height: 460px;
    font-size: 22px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.reincarnate-text {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.text-1{
    max-width: 709px;
    height: 76px;
}

.text-2{
    max-width: 709px;
    height: 152px;
}

.reincarnate-img {
    width: 450px;
    height: 695px;
    display: flex;
    position: absolute;
    right: 230px;
    bottom: -657px;
}

.img-1 {
    width: 335px;
    height: 328px;
    align-self: flex-start;
    border-radius: 50%;
}

.img-2 {
    width: 335px;
    height: 328px;
    align-self: flex-end;
    border-radius: 50%;
}

.star{
    position: absolute;
    top: 300px;
    left: 100px;
    animation: star 2s linear alternate 3.4;
}

@keyframes star{
    0% {
        left: 0%;    }
    50% {
        left: 5%;
    }
    100% {
        left: 10%;
    }
}

.star-blue{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1400px;
    right: 1200px;
    top: 630px;
    bottom: 1821.89px;
    transform: rotate(30.00deg);
}

.star-gray{
        position: absolute;
        width: 16px;
        height: 16px;
        left: 1380px;
        right: 1223.02px;
        top: 932.68px;
        bottom: 1602.21px;
        transform: rotate(-22.91deg);
}

.star-dark_blue{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 1100px;
    right: 1580px;
    top: 1025px;
    bottom: 1461.89px;
    transform: rotate(-30.00deg);
}

.background{
    background-image: url(./img/background-why.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*why-section*/
.why {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.why-items:not(:last-child) {
    flex-basis: calc((100% - 40px) / 3);
}



.arrow{
    width: 17px;
}

.arrow:hover{
    fill: var(--color--white);
}

.why-carts {
    width: 316px;
    height: 181px;
    border: 1px solid #124512;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
    background-color: var(--color--white);
}

.why-container {
    margin: 24px 32px;
}

.svg-img{
    padding: 10px;
    width: 32px;
    height: 32px;
    fill: var(--color--primary--blue);
}

.why-img{
    margin: 5px 102px 8px 102px;
}

.why-img-1{
    fill: var(--color--primary--blue);
}

.why-text {
    font-family: "roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
}




.container {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 24px;
}

.logo-link {
    margin: 32px 99px;
}

.link {
    color: var(--color--primary--black);
    font-family: "roboto", sans-serif;
    font-weight: 400;
    transition: color 0.2s;
}

.link:hover {
    color: var(--color--primary--blue);
    font-weight: 700;
}


.h1 {
    color: var(--color--primary--blue);
    font-family: "play", sans-serif;
    font-weight: 700;
    font-size: 140px;
    margin-bottom: 0;
}


.free-text {
    width: 210px;
    text-align: center;
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.h2 {
    font-size: 64px;
    font-family: "play", sans-serif;
    font-weight: 700;
    line-height: 74px;
}

.h2 span {
    color: var(--color--primary--blue);
}

.h2-1 {
    width: 529px;
}

.h2-2 {
    text-align: center;
    width: 450px;
    position: relative;
    left: 350px;
    padding-top: 176px;
    margin-bottom: 48px;
}

.h2-3 {
    text-align: center;
}

.h2-4 {
    text-align: center;
    margin-bottom: 48px;
}



/*section procedures*/
.section-procedures {
    margin: 96px 0;
}

.button-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: 1px solid var(--color--primary--black);
    border-radius: 50%;
    background-color: var(--color--white);
    cursor: pointer;
}

.button-cards:hover {
    background-color: var(--color--primary--blue);
    border-color: var(--color--white);
}

.procedures-container{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.procedures-items{
    flex-basis: calc((100% - 40px) / 3);
}

.procedures-cards {
    display: flex;
    gap: 20px;
    transition: 0.2s;
}


.img{
    height: 456px;
    width: 344px;
    padding: 24px;
    border: 1px solid lightgray;
    border-radius: 16px;
    border-radius: 4px 120px 4px 120px;
}

.img-mask{
background-image: linear-gradient(180deg,
            rgba(49, 38, 26, 0) 55.21%,
            rgba(49, 38, 26, 0.71) 72.92%,
            var(--color--primary--blue) 100%), url(./img/mask.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
}

.img-injection{
    background-image: linear-gradient(180deg,
                rgba(49, 38, 26, 0) 55.21%,
                rgba(49, 38, 26, 0.71) 72.92%,
                var(--color--primary--blue) 100%), url(./img/injection.jpg);
        background-size: cover;
        background-position: center;
        transition: 0.2s;
}

.img-clear{
    background-image: linear-gradient(180deg,
                rgba(49, 38, 26, 0) 55.21%,
                rgba(49, 38, 26, 0.71) 72.92%,
                var(--color--primary--blue) 100%), url(./img/clear.jpg);
        background-size: cover;
        background-position: center;
        transition:0.2s;
}

.img:hover{
    transform: scale(1.05);
}

.procedures-img {
    border-radius: 4px 120px 4px 120px;
}


.text-img{
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: var(--color--white);
    position: relative;
    top: 372px;
}

.img {
    margin-top: 70px;
}

.button-cards.next{
    transform: rotate(180deg);
}




.section-location {
    margin: 139px 0 96px;
}

.location-container{
    display: flex;
    justify-content: space-between;
}

.background-form{
    display: flex;
    position: relative;
    bottom: 15px;
    width: 423px;
    height: 481px;
    border: 1px solid var(--color--background);
    border-radius: 32px;
    background-color: var(--color--background);
}

.contact-form{
    display: flex;
    position: relative;
    bottom: 150px;
}

.location-form {
    position: absolute;
    left: 35px;
}

.input-location{
    width: 80%;
    padding: 16px 42px;
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid var(--color--data);
    border-radius: 30px;
    background-color: transparent;
}

.input-location:focus {
    border-color: var(--color--primary--blue);
    outline: none;
    background-color: var(--color--data);
}

.input-location::placeholder {
    color: var(--color--white);
    font-size: 16px;
    line-height: 1.17;
}

.input-location:focus::placeholder {
    color: var(--color--data);
}

.location-button{
    width: 281px;
    display: block;
    margin: 0 35px 0;
}

.contact-text{
    padding: 40px 0 32px 0;
    max-width: 274px;
    color: var(--color--white);
    position: relative;
    left: 35px;
    font-family: 'roboto', sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}

.contact-text span{
    color: var(--color--primary--blue);
}

.link_1 {
    color: var(--color--white);
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    transition: color 0.2s;
}

.li {
    margin-bottom: 16px;
}

.link_1:hover {
    color: var(--color--primary--blue);
    font-weight: 700;
    
}


/*footer*/
.footer {
    position: relative;
    padding: 32px 0;
    height: 278px;
    display: flex;
    align-items: center;
    background-color: var(--color--background);
}

.footer::before {
    position: absolute;
    bottom: 0px;
    right: 0;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    content: '';
    width: 278px;
    height: 213px;
    background-image: url(./img/pexels-photo-8101532-PhotoRoom.svg);
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 186px;
}

.footer-copyrait{
    position: absolute;
    right: 80px;
}

.footer-logo {
    align-items: flex-start;
}

.li-img{
    height: 42px;
    width: 42px;
    display: flex;
    gap: 24px;
}

.data {
    margin: 16px 0px;
    color: var(--color--data);
}


/* Modal */
.backdrop {
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.5);
    transition: opacity 0.2s, visibility 0.2s;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    background-color: var(--color--modal);
    border-radius: 32px;
}

.modal-call{
    color: var(--color--white);
}

.modal-text{
    padding: 40px 0 32px 0;
    color: var(--color--white);
}

.modal-btn-close {
    width: 50px;
    position: absolute;
    top: 40px;
    right: 40px;
    border-radius: 10px;
}


/*form*/
.modal-form {
    display: block;
    padding: 128px;
}

.form-field {
    position: relative;
    margin-bottom: 32px;
}

.form-label {
    position: absolute;
    top: 16px;
    left: 42px;
}

.form-input {
    padding: 16px 42px;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid var(--color--data);
    border-radius: 30px;
    background-color: transparent;
}

.form-input:focus {
    border-color: var(--color--primary--blue);
    outline: none;
    background-color: var(--color--data);
}

.form-input::placeholder {
    color: var(--color--white);
    font-size: 16px;
    line-height: 1.17;
}

.form-input:focus::placeholder {
    color: var(--color--data);
}

.form-button {
    width: 281px;
    display: block;
    margin: 0 auto;
}

.form-terms {
    margin: 8px auto;
    color: var(--color--data);
    max-width: 220px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

.form-terms-link {
    color: var(--color--data);
    text-decoration: underline;
    text-underline-offset: 2px;
}